<html>
<head>
<script src="http://www.flotcharts.org/flot/jquery.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
<script type="text/javascript">
{% autoescape off %}
	$(function() {

		var d1 = {{ followers_plot }};
		var d2 = {{ follows_plot }};
		var d3 = {{ percent_plot }};
		var d4 = {{ new_followers_plot }};
		var dates = {{ dates }}
		
		var params = {
			xaxis: {
				ticks: {{ dateticks }}
			},
			series: {
				lines: {
					show: true
				},
			},
			grid: {
				hoverable: true,
				clickable: true
			},
		}
		
		$.plot("#placeholder1", 
			[ {data:d1,label:'Подписчики'}, {data:d2,label:'Подписки'} ], 
			params
		);
		
		$.plot("#placeholder2", 
			[ {data:d3,label:'Выхлоп'}, {data:d4,label:'Подписок в час'} ], 
			params
		);
		
		$("<div id='tooltip'></div>").css({
			position: "absolute",
			display: "none",
			border: "1px solid #fdd",
			padding: "2px",
			"background-color": "#fee",
			opacity: 0.80
		}).appendTo("body");


		$(".placeholder").bind("plothover", function (event, pos, item) {
			if (item) {
				var x = item.datapoint[0].toFixed(2),
					y = item.datapoint[1].toFixed(2);
				$("#tooltip").html(dates[x.toString()] + " , " + y)
					.css({top: item.pageY+5, left: item.pageX+5})
					.fadeIn(200);
			} else {
				$("#tooltip").hide();
			}
		
		});

		// Add the Flot version string to the footer

		$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
	});

{% endautoescape %}
</script>
<style>
.container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
</style>
</head>
<body>

	<h1>Статистика таска [{{ task.name }}]</h1>

	{{ actions|length }}

	<div class="container">
		<div id="placeholder1" class="placeholder"></div>
	</div>
	<div class="container">
		<div id="placeholder2" class="placeholder"></div>
	</div>

</body>
</html>