<html>
<head>
<script src="http://www.flotcharts.org/flot/jquery.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.categories.js"></script>
<script type="text/javascript">
{% autoescape off %}
	$(function() {

		var d1 = {{ good_media }};
		var d2 = {{ bad_media }};
		var d3 = {{ good_followers }};
		var d4 = {{ bad_followers }};
		var d5 = {{ good_follows }};
		var d6 = {{ bad_follows }};
		
		var params = {
			series: {
				lines: {
					show: true
				},
			},
			grid: {
				hoverable: true,
				clickable: true
			},
		}
		
		$.plot("#placeholder1", 
			[ {data:d1,label:'Хорошие'},{data:d2,label:'Плохие'} ], 
			params
		);

		$.plot("#placeholder2", 
			[ {data:d3,label:'Хорошие'},{data:d4,label:'Плохие'} ], 
			params
		);

		$.plot("#placeholder3", 
			[ {data:d5,label:'Хорошие'},{data:d6,label:'Плохие'} ], 
			params
		);

		$("<div id='tooltip'></div>").css({
			position: "absolute",
			display: "none",
			border: "1px solid #fdd",
			padding: "2px",
			"background-color": "#fee",
			opacity: 0.80
		}).appendTo("body");


		$(".placeholder").bind("plothover", function (event, pos, item) {
			if (item) {
				var x = item.datapoint[0].toFixed(2),
					y = item.datapoint[1].toFixed(2);
				$("#tooltip").html(x + " , " + y)
					.css({top: item.pageY+5, left: item.pageX+5})
					.fadeIn(200);
			} else {
				$("#tooltip").hide();
			}
		
		});
	});

{% endautoescape %}
</script>
<style>
.container {
	box-sizing: border-box;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
</style>
</head>
<body>

	<h1>Статистика таска [{{ task.name }}]</h1>

	{{ actions|length }}

	<h1>Медиа</h1>
	<div class="container">
		<div id="placeholder1" class="placeholder"></div>
	</div>

	<h1>Подписчики</h1>
	<div class="container">
		<div id="placeholder2" class="placeholder"></div>
	</div>
	
	<h1>Подписки</h1>
	<div class="container">
		<div id="placeholder3" class="placeholder"></div>
	</div>

</body>
</html>